/* Add your CSS here */
/*top links*/
.top {
  position: absolute;
  top: 1%;
  left: 1%;
  font-family: monospace;
}

.top li:nth-of-type(1){
  display: inline;
  text-decoration: none;
  color: purple;
}

.top li:nth-of-type(2){
  display: inline;
  text-decoration: none;
  border-left-style: solid;
  border-width: 1px;
  border-color: gray;
  padding-left: 3px;
  transform:rotate(4deg);
}

/*opening title*/
.opener {
  position: absolute;
  top: 10%;
  left: 20%;
  right: 10%;
  font-size: 45px;
  font-family: monospace;
}

/*main paragraph*/
.description {
  position: absolute;
  top: 25%;
  left: 5%;
  right: 5%;
  font-family: monospace;
}

/*middle links*/
.middle {
  position: absolute;
  top: 39%;
  left: 30%;
}

.middle li {
  display: inline;
  text-decoration: none;
  padding-right: 25px;
  font-family: monospace;
}

/*bottom left*/
.left_img {
  position: absolute;
  bottom: 37%;
  left: 2%;
  float left;
}

.left_heading {
  position: absolute;
  bottom: 46%;
  left: 10%;
  font-size: 16px;
  font-family: monospace;
}

.left_paragraph {
  position: absolute;
  bottom: 30%;
  left: 9%;
  right: 55%;
  font-size: 10px;
  font-family: monospace;
}

/*bottom right*/
.right_img {
  position: absolute;
  bottom: 37%;
  right: 48%;
  float: right;
}

.right_heading {
  position: absolute;
  bottom: 46%;
  right: 25%;
  font-size: 16px;
  font-family: monospace;
}

.right_paragraph {
  position: absolute;
  bottom: 31%;
  right: 5%;
  left: 55%;
  font-size: 10px;
  font-family: monospace;
}
